/public/assets*
!/tmp/.keep
!/tmp/pids/.keep
/tmp/*
.idea/*
.env.local
.env.*.local
.DS_Store
*.log

sandbox.rb
.bundle/config
/log/rspec_examples.txt

.byebug_history
.vscode

vendor/bundle
public/*
